.header {
  padding: 30px 0 20px 0;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;

    &-nav {
      margin-right: 100px;

      
      .nav-link {
          margin-right: 50px;
          text-transform: uppercase;
          font-size: 14px;
          color: $gray-dark;

          &.active {
            color: $blue-v4;
            position: relative;

            &::after {
              content: "";
              width: 8px;
              height: 8px;
              border-radius: 50%;
              position: absolute;
              background: $blue-v4;
              bottom: -14px;
              right: 50%;
            }
          }
      }
    }

    .language-option {
      &__item {
        background-color: $blue-v1;
        padding: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s;

        svg {
          margin-left: 10px;
          color: white;
        }

        ul {
          display: none;
          position: absolute;
          bottom: -55px;
          width: 100%;
          left: 0;
          border-radius: 0 0 5px 5px;
          background: white;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

          li {
            color: $blue-v1;
            padding: 5px 10px;

            &:hover {
              background-color: rgb(0 123 255 / 0.2);
            }
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
}