// Base common container
.base-container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  @media screen and (max-width: 1024px) {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
