// Breakpoint
$container-min: 1239px;
$desktop-sm: 1199px;

$tablet: 1024px;
$tablet-md: 991px;
$tablet-sm: 800px;

$mobile: 767px;
$mobile-lg: 574px;
$mobile-md: 516px;
$mobile-sm: 414px;
$mobile-xs: 376px;

$md-min: 768px;
$lg-min: 1025px;

// Color
$black: #000000;
$gray-dark: #25313C;
$gray-dark-v1: #333333;

$blue-primary: #3469B2;
$blue-v1: #0543a9;
$blue-v2: #2041b3;
$blue-v3: #185ccc;
$blue-v4: #007bff;
$blue-v5: #00d8f5;

$purple-primary: #5A4FF3;
$purple-v1: #A8A4CE;
$purple-v2: #C9BBCF;

